<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BioSmartSuite">
    <parameter name="groupReport" value="/DroidReport.html"/>
    <parameter name="toMails" value="knwabueze@seamfix.com;soli@seamfix.com;kasuamah@seamfix.com;cngwu@seamfix.com"/>
    <test name="name">
        <classes>
            <class name="admin.CaptureNewSimSerialRegistration">
                <methods>
                    <include name="Login"/>
                    <include name="NavigateToCaptureMenuTest"/>
                    <include name="RegisterNewSimSerialTest"/>
                </methods>
            </class>
            <class name="admin.NewRegistrationMsisdn">
                <methods>
                    <include name="NavigateToCaptureMenuTest"/>
                    <include name="CaptureNewMSISDNTest"/>
                </methods>
            </class>
            <class name="admin.AgentOnBoardingTest">
                <methods>
                    <!--<include name="Login"></include>-->
                    <include name="navigateToAgentOnBoardingPage"/>
                    <include name="navigateToDashboard"/>
                </methods>
            </class>
            <!--<class name="admin.NotificationsTest">
                <methods>
                    <include name="navigateToNotifiactions"/>
                    <include name="navigateToDashboard"/>
                </methods>
            </class>-->
            <class name="admin.ChangePasswordTest">
                <methods>
                    <include name="navigateToChangePasswordPage"/>
                    <include name="changeToNewPassword"/>
                    <include name="loginWithNewPassword"/>
                    <include name="changeBackToOldPassword"/>
                </methods>
            </class>
        </classes>
    </test>
</suite> <!-- Suite -->