<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="iClockerSuite">
    <parameter name="groupReport" value="/DroidReport.html"/>
    <test name="name">
        <classes>
            <class name="admin.Login">
                <methods>
                    <include name="UsernamePasswordTest"/>
                </methods>
            </class>
            <class name="admin.captureNewSimSerialRegistration">
                <methods>
                    <include name="navigateToCaptureMenuTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite> <!-- Suite -->